.itenerarySaves{
    display: flex;
    flex-direction: column;
    width: 50%;
   
    
}
.saved{
    background-color: goldenrod;
    border: 3px groove white;
}
.iteneraryPreview{
    display: flex;
    flex-direction: column;
    width: 50%;
}